<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-6">
                <h5>Contact us</h5>
                <ul class="list-unstyled quick-links">
                    
                </ul>
             
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-6">
                <h5>Terms and conditions</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/termsAndConditions" ><i class="fa fa-angle-double-right"></i>Terms and Conditions</a></li>
                    <li><a routerLink="/DeliveryPolicy" ><i class="fa fa-angle-double-right"></i>Delivery Policy</a></li>
                    <li><a routerLink="/privacyPolicy" ><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                    <li><a routerLink="/ReturnAndCancellation" ><i class="fa fa-angle-double-right"></i>Return and Cancellation</a></li>
                    <li><a routerLink="/ReturnAndExchange" ><i class="fa fa-angle-double-right"></i>Refund and Exchange</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-6">
                <h5>Newsletters</h5>
                <p class="t-regular">Sign up for the latest news, offers and styles
                </p>
                <input type="text" class="form-control" placeholder="Your email">
                <button class="btn btn-primary mt-10">Suscribe</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-6">
                <h5>About us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/OurStory" ><i class="fa fa-angle-double-right"></i>Our Story</a></li>
                    <li><a ><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                </ul>
                <h5>Follow us on</h5>
                <ul class="list-unstyled quick-links">
                    <li class="list-inline-item"><a ><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a ><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center">
                <p class="copy-t">© All right Reversed.<a class="text-green ml-2" target="_blank">Levin</a></p>
            </div>
        </div>	
    </div>
</section>
